/* Estilo base para la celda del día en la vista dayGrid */
.fc-daygrid-day {
  border: 1px solid #41b8d5;
  color: #ffffff;
  transition: background-color 0.3s ease;
}

/* Color para 0 citas disponibles */
.fc-daygrid-day[data-appointment-count="0"] {
  background-color: #253240 !important; /* Color: texto (oscuro) */
}

/* Color para 1 o 2 citas disponibles */
.fc-daygrid-day[data-appointment-count="1"],
.fc-daygrid-day[data-appointment-count="2"] {
  background-color: #05668d !important; /* Color: azulOscuroTitulos */
}

/* Color para 3 o 4 citas disponibles */
.fc-daygrid-day[data-appointment-count="3"],
.fc-daygrid-day[data-appointment-count="4"] {
  background-color: #05ac9c !important; /* Color: logo2 */
}

/* Color para 5 o más citas disponibles */
.fc-daygrid-day[data-appointment-count="5"],
.fc-daygrid-day[data-appointment-count="6"],
.fc-daygrid-day[data-appointment-count="7"],
.fc-daygrid-day[data-appointment-count="8"],
.fc-daygrid-day[data-appointment-count="9"],
.fc-daygrid-day[data-appointment-count="10"] {
  background-color: #6bc9be !important; /* Color: logo3 */
}

/* Puedes extender los rangos según las necesidades */

.fc-daygrid-day.fc-day-past {
  background-color: #333333 !important; /* Gris oscuro */
  color: #b0b0b0 !important; /* Texto en gris claro */
}
