@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-poppins);
  }
  
  body {
    font-family: var(--font-sans);
  }
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-neutral-900 text-gray-900 dark:text-gray-100;
  }
}

.floating-image {
  position: absolute;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .floating-image {
    animation: float 6s ease-in-out infinite;
  }
}