@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: var(--font-poppins);
  }

  body {
    font-family: var(--font-sans);
  }
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-neutral-900 text-gray-900 dark:text-gray-100;
  }
}

.floating-image {
  position: absolute;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .floating-image {
    animation: float 6s ease-in-out infinite;
  }
}

/* From Uiverse.io by mrhyddenn */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: var(--shadow-color, #1E5ACD);
  box-shadow: 0 0 25px var(--shadow-color, rgb(0, 140, 255));
}

.shadow__btn:hover {
  box-shadow: 0 0 5px var(--shadow-color, rgb(0, 140, 255)),
    0 0 25px var(--shadow-color, rgb(0, 140, 255)),
    0 0 50px var(--shadow-color, rgb(0, 140, 255)),
    0 0 100px var(--shadow-color, rgb(0, 140, 255));
}



@layer utilities {
  .backdrop-blur-sm {
    backdrop-filter: blur(4px);
  }

  .backdrop-blur-md {
    backdrop-filter: blur(8px);
  }

  .backdrop-blur-lg {
    backdrop-filter: blur(12px);
  }
}

form {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #6BC9BE;
}

form label {
  display: block;
  font-weight: bold;
  color: #253240;
  margin-bottom: -15px;
  font-size: 20px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  background-color: #F8F9FA;
  color: #253240;
  font-size: 18px;
  margin-bottom: 20px;
}

form span {
  color: red;
  font-size: 18px;
  margin-top: -25px;
}

form input::placeholder,
form textarea::placeholder {
  color: #6BC9BE;
}

form button {
  background-color: #05668D;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-top: 10px;
}

form button:hover {
  background-color: #05918F;
}

.user-profile-container {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.user-profile-left {
  flex: 2;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.user-profile-left img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #41B8D5;
}

.user-profile-left .user-info {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #253240;
}

.user-profile-right {
  flex: 2;
}

.user-profile-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.specializations-container {
  margin: 1rem 0;
  position: relative;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: -10px;
  margin-bottom: 0.5rem;
}

.tag {
  background: #4CAF50;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
  .remove-tag {
    margin-top: 0px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #ffeb3b;
    }
  }
}

.custom-dropdown {
  border: 1px solid #41B8D5;
  border-radius: 4px;
  position: relative;
}

.dropdown-header {
  padding: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &:hover {
    background: #f5f5f5;
  }
}

.arrow {
  margin-top: 0px;
  color: #41B8D5;
  transition: transform 0.2s;
  &.open {
    transform: rotate(180deg);
  }
}

.dropdown-options {
  top: 0;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  max-height: 200px;
  overflow-y: auto;
  z-index: 100;
}

.search-input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: -7px;
  &:focus {
    outline: none;
  }
}

.option {
  padding: 0.8rem;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background: #f5f5f5;
  }
  
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    margin-top: 0px;
    position: relative;
    height: 18px;
    width: 18px;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    margin-right: 0.8rem;
    
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
  
  input:checked ~ .checkmark {
    background: #4CAF50;
    &:after {
      display: block;
    }
  }
}

.schedule-info {
  width: 90%;
  margin-top: 30px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #6BC9BE;
}

.schedule-info h2 {
  font-size: 1.5em;
  color: #253240;
  font-weight: bold;
}

.schedule-info hr {
  border: 0;
  height: 1px;
  background: #41B8D5;
  margin-bottom: 15px;
}

.schedule-summary {
  white-space: pre-line;
  color: #253240;
  font-size: 18px;
  margin-bottom: 10px;
}

.edit-schedule-button {
  background-color: #05668D;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.edit-schedule-button:hover {
  background-color: #05918F;
}

/* Estilos para la sección de servicios */
.services-section {
  margin-top: 30px;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #6BC9BE;
}

.services-section h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  color: #253240;
  font-weight: bold;
}

.services-section hr {
  border: 0;
  height: 1px;
  background: #41B8D5;
  margin-bottom: 15px;
}

.services-section button {
  background-color: #05668D;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-bottom: 15px;
}

.services-section button:hover {
  background-color: #05918F;
}

.service-item {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #F8F9FA;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #253240;
  font-weight: bold;
}

.service-item p {
  margin-bottom: 5px;
  color: #253240;
  font-size: 18px;
}

/* Estilos para el modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #6BC9BE;
  width: 70%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #253240;
  font-weight: bold;
}

.modal-content label {
  display: block;
  font-weight: bold;
  color: #253240;
  margin-bottom: 5px;
  font-size: 20px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  background-color: #F8F9FA;
  color: #253240;
  font-size: 18px;
  margin-bottom: 10px;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: #6BC9BE;
}

.modal-content button {
  background-color: #05668D;
  color: #FFFFFF;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-right: 10px;
}

.modal-content button:hover {
  background-color: #05918F;
}

.modal-content button:last-of-type {
  background-color: #6c757d;
}

.modal-content button:last-of-type:hover {
  background-color: #5a6268;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-close-button:hover {
  color: #ff4d4d;
  /* Color rojo al pasar el cursor */
}

.questionnaire-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.questionnaire-section .note {
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
  font-style: italic;
}

.questions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.questions-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.questions-list li:hover {
  background-color: #f1f1f1;
}

.default-question {
  font-weight: bold;
  color: #333;
}

.remove-question {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.remove-question:hover {
  background-color: #e60000;
}

.add-question {
  margin-top: 16px;
}

.add-question label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.question-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.question-input input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.question-input button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.question-input button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.question-input button:hover:not(:disabled) {
  background-color: #0056b3;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  background-color: #F8F9FA;
  color: #253240;
  font-size: 18px;
  margin-bottom: 10px;
  appearance: none;
  /* Elimina el estilo por defecto del select */
  cursor: pointer;
}

select:hover {
  border-color: #05668D;
}

/* Contenedor para el input y select de duración */
.duration-input {
  display: flex;
  gap: 10px;
  align-items: center;
}

.duration-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  background-color: #F8F9FA;
  color: #253240;
  font-size: 18px;
}

.duration-input select {
  flex: 0.5;
  padding: 10px;
  border: 1px solid #41B8D5;
  border-radius: 5px;
  background-color: #F8F9FA;
  color: #253240;
  font-size: 18px;
  cursor: pointer;
}

.duration-input select:hover {
  border-color: #05668D;
}

.user-profile-right {
  flex: 2;
}

.user-profile-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input:disabled,
form select:disabled {
  background-color: #f3f4f6;
  color: #6B7280;
  cursor: not-allowed;
}

.error__close path {
  fill: #fff;
}


/* Add these responsive styles */
@media (max-width: 1240px) {
  .floating-image {
    display: none;
  }
}

/* Adjust main content container */
.main-content {
  position: relative;
  z-index: 2;
}